.body{
    background-color: white;
    margin: 0;
}
.navbar{
    background-color: #0F4C81;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: auto;
}

.titleNav{
    color: white;
    margin: 0;
}

.cardPerson {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;   
    width: 300px;
    background-color: #CCCCCC;
}
.avatar {
    width: 30px; 
    height: auto;
    padding-left: 18px;
}

.personInfo {
    flex-grow: 1; 
    text-align: center;
    font-weight: bold;
}

.namePersona {
    color: #0F4C81;
    font-size: 20px;
    margin: 5px 0;
}

.cargoPersona {   
    color: white;
    font-size: 15px;
    margin: 5px 0;
}

.image-button img {
    width: 6.22px; 
    height: 20px;
    cursor: pointer;
    padding-right: 15px;
}
.image-button-add img {
    width: 60px; 
    height: auto; 
}
.contenedor-add{
    position: fixed;
    bottom: 20px; 
    right: 20px;
}