.body {
    background-color: white;
    margin: 0;
}

.navbar {
    background-color: #0F4C81;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;     
    box-sizing: border-box; 
}

.titleNav {
    color: white;
    margin: 0;
}

.cardPerson {
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    background-color: #CCCCCC;
    margin: 5px;
}

.avatar {
    width: 30px;
    height: auto;
    padding-left: 18px;
}

.personInfo {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
}

.namePersona {
    color: #0F4C81;
    font-size: 20px;
    margin: 5px 0;
}

.cargoPersona {
    color: white;
    font-size: 15px;
    margin: 5px 0;
}

.image-button img {
    width: 6.22px;
    height: 20px;
    cursor: pointer;
    padding-right: 15px;
}

.image-button-add img {
    width: 60px;
    height: auto;
}

.contenedor-add {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#titulo_container {
    display: block;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 8px;
}

/* CONTENEDOR CARDS */
#contenedor-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8px;
    flex: 1;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.form-open #contenedor-cards {
    border: 3px solid #ccc;
}

/* --------------------- Formulario --------------------- */
.contenedor-principal {
    display: flex;
    padding: 20px;
}

.formulario-container {
    margin: 25px;
    display: flex;
    padding: 20px 20px;
    border-radius: 10px;
    border: 3px solid #ccc;
}

.form-group {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
} 

label {
    display: block;
    font-weight: 800;
    margin-bottom: 6px;
}


input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"]{
    width: 380px;
    padding: 10px; 
    margin-bottom: 12px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    font-size: 20px;  
    box-sizing: border-box;
}

select {
    width: 100%; 
    padding: 15px; 
    margin-bottom: 12px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    font-size: 20px;  
    box-sizing: border-box;
}

button {
    width: 380px; 
    padding: 10px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 2px; 
    cursor: pointer;
    font-size: 20px; 
}

button:hover {
    background-color: #0F4C81;
}

.selectCargo {
    width: 250px;
}

/* ------------------- Fin estilos formulario ------------------- */


